@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts("Trading Culture — WELTRADE");
}
<div class="center">
    <div class="play-zones">
        <div class="sniper">
            <a class="marker" href="/sniper">
                <b><span><i><i><i></i></i></i></span> <s></s><s></s></b>
                <span>SNIPER</span>
            </a>
        </div>
        <div class="horse">
            <a class="marker" href="/horse">
                <b><span><i><i><i></i></i></i></span> <s></s><s></s></b>
                <span>DARK HORSE</span>
            </a>
        </div>
        <div class="surfer">
            <a class="marker" href="/surfer">
                <b><span><i><i><i></i></i></i></span> <s></s><s></s></b>
                <span>SURFER</span>
            </a>
        </div>
        <div class="planner">
            <a class="marker" href="/planner">
                <b><span><i><i><i></i></i></i></span> <s></s><s></s></b>
                <span>PLANNER</span>
            </a>
        </div>
        <div class="conductor">
            <a class="marker" href="/conductor">
                <b><span><i><i><i></i></i></i></span> <s></s><s></s></b>
                <span>CONDUCTOR</span>
            </a>
        </div>
    </div>
</div>

<div class="logo"></div>

<a class="hire btn btn-cross play-test" href="/test-yourself">
    <span class="hover">
        TAKE TEST
    </span>
    <span>FIND УOUR TYPE</span>
</a>

<a class="hire btn btn-cross play-mobile-video" style="display: none">
    <span>Watch video</span>
</a>

<a class="welltrade" href="/" target="_blank"></a>

<div class="overlay"></div>
<div class="videos">
    <div class="center">
        <div class="sniper">
            <script type="text/template">
                <video>
                    <source src="/Themes/Grandeur/Content/videos/sniper/home.webm" type="video/webm">
                    <source src="/Themes/Grandeur/Content/videos/sniper/home.mp4" type="video/mp4">
                </video>

            </script>
        </div>
        <div class="horse">
            <script type="text/template">
                <video>
                    <source src="/Themes/Grandeur/Content/videos/horse/home.webm" type="video/webm">
                    <source src="/Themes/Grandeur/Content/videos/horse/home.mp4" type="video/mp4">
                </video>

                <video>
                    <source src="/Themes/Grandeur/Content/videos/horse/home2.webm" type="video/webm">
                    <source src="/Themes/Grandeur/Content/videos/horse/home2.mp4" type="video/mp4">
                </video>
            </script>
        </div>
        <div class="surfer">
            <script type="text/template">
                <video>
                    <source src="/Themes/Grandeur/Content/videos/surfer/home.webm" type="video/webm">
                    <source src="/Themes/Grandeur/Content/videos/surfer/home.mp4" type="video/mp4">
                </video>

            </script>
        </div>
        <div class="planner">
            <script type="text/template">
                <video>
                    <source src="/Themes/Grandeur/Content/videos/planner/home.webm" type="video/webm">
                    <source src="/Themes/Grandeur/Content/videos/planner/home.mp4" type="video/mp4">
                </video>

            </script>
        </div>
        <div class="conductor">
            <script type="text/template">
                <video>
                    <source src="/Themes/Grandeur/Content/videos/conductor/home.webm" type="video/webm">
                    <source src="/Themes/Grandeur/Content/videos/conductor/home.mp4" type="video/mp4">
                </video>

            </script>
        </div>
    </div>

</div>
