@model TopMenuModel
@using Nop.Web.Models.Catalog;
<a class="hamburger"><i></i><i></i><i></i></a>
<nav class="mobile-menu">
    <a href="/en/" class="active">MAIN</a>
    <a href="/en/sniper">
        SNIPER
    </a>
    <a href="/en/dark-horse">
        DARK HORSE
    </a>
    <a href="/en/surfer">
        SURFER
    </a>
    <a href="/en/planner">
        PLANNER
    </a>
    <a href="/en/conductor">
        CONDUCTOR
    </a>
    <a href="/en/test">TAKE TEST</a>
    <a href="/en/about">ABOUT</a>
</nav>

