@model ProductDetailsModel.AddToCartModel
@using growonline.Web.Models.Catalog;
@using growonline.Core.Domain.Orders;
@if (!Model.DisableWishlistButton && Model.UpdatedShoppingCartItemId == 0)
{
    <button id="add-to-wishlist-button-@Model.ProductId" class="btn-orignal  btn-orignal-md" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;"><i class="glyphicon glyphicon-heart text-muted"></i> @T("ShoppingCart.AddToWishlist")</button>
}