@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    string dir = "/Themes/FootPrint/content/bespoke";

}

<style>
 
</style>
<div class=" bespoke">
    <div class="row ">
        <div class="col-md-12">
            <img src="@dir/1.jpg" class="img-responsive" style="width:100%" />
        </div>

    </div>
    <div class="row bg3">

        <div class="col-md-4 zerocls">
            <div class="info" style="width: 100%;margin-top:17%">
                <div class="a">Step</div>
                <div class="b"><span style="border-bottom:1px solid">01</span></div>
                <div class="c">LEATHER <br /> COLLECTION</div>
            </div>
        </div>

        <div class="col-md-8 firstcls" style="background-color:rgb(230,222,209); ">
            <div class="desc">
                <p>SELECTING MATERIAL</p>
                <p2>
                    WE SCOUR THE GLOBE LOOKING FOR THE HIGHEST QUALITY LEATHER WITH WHICH TO CREATE THE NEXT PAIR OF YOUR SHOE. WE STRIVE TO SELECT THE STRONGEST LEATHER WITH ONLY THE FINEST OF GRAINS. YET SOME STYLES OF OUR SHOE REQUIRE A SLIGHTLY LESS FINE GRAIN IN ORDER TO ACHIEVE THE STRENGTH THEY NEED.

                </p2>

            </div>

        </div>
    </div>
    @*------complete------*@
    <div class="row bg3">



        <div class="col-md-8 secondcls" style="background-color:#fff;   ">
            <div class="desc" style="padding-top: 0px; background-color: #fff">
                <p style="color:#111">STEP 02</p>
                <p style="color:#111"><span style="border-bottom:1px solid">PATTERN MAKING</span></p>
                <p2>
                    ONCE MATERIAL HAS BEEN SELECTED, OUR DESIGNER DECIDES WHICH STYLE OF SHOE WILL BEST SUIT WHICH PIECE OF MATERIAL. THE PATTERN IS THE SECRET THAT WILL CREATE A COMFORTABLE, LONG LASTING SHOE. OUR EXPERT DESIGNERS CRAFT THEIR PATTERNS AND CUT THEM OUT TO LAY ON THE MATERIAL.

                </p2>

            </div>

        </div>

        <div class="col-md-4">
            <img src="@dir/2.jpg" class="img-responsive" style="width:100%; height: 337px;;" />
        </div>
    </div>


    @*----------complete-----------*@

    <div class="row bg3">

        <div class="col-md-4 clsz">
            <div class="info" style="width: 100%; padding-top: 94px">
                <div class="a">STEP</div>
                <div class="b"><span style="border-bottom:1px solid">03</span></div>
                <div class="c">CUTTING</div>
            </div>
        </div>
        <div class="col-md-4"><img src="@dir/3.jpg" class="img-responsive" style="width:100%;    height: 383px;" /> </div>
        <div class="col-md-4 thirdcls" style="background-color:rgb(230,231,232);    height: 383px;">
            <div class="desc" style="background-color:#e6e7e8">
                @*<h3>CRAFTSMANSHIP</h3>*@
                <p >
                    ONCE THE CUTTING IS TO BEGIN, THE LEATHER MASTER SELECTS THE PIECE OF MATERIAL HE WISHES TO USE FOR A SPECIFIC PART OF THE SHOE. THEN, USING HIGHLY SPECIALIZED HAND TOOLS, HE CUTS THE LEATHER IN ACCORDANCE WITH THE DESIGNER’S PATTERNS.

                </p>

            </div>

        </div>
    </div>


    @*--------complete--------*@


    <div class="row ">
        <div class="col-md-12 nopadding">
            <img src="@dir/4.jpg" class="img-responsive" style="width:100%" />
        </div>

    </div>

    @*--------complete---------*@

    <div class="row bg3">

        <div class="col-md-8 fourcls" style="background-color:rgb(242,238,237);">
            <div class="desc" style="padding-top: 0px; background-color: rgb(242,238,237)">
                <p style="color:#000;font-weight:bold;margin-left:2px">STEP</p>
                <p style="margin-top:-20px"><span style="border-bottom:1px solid;font-size:63px;font-weight:bold;color:#000">04</span></p>
                <p style="color:#000">UPPER CREATION</p>
                <p2>
                    WITH THE ASSISTANCE OF A HIGHLY SOPHISTICATED GERMAN STITCHING MACHINE, OUR UPPER MAKERS ADD THEIR HANDCRAFTSMANSHIP TO THE PROCESS. HERE IS WHERE REFINED DETAILING IS BORN.

                </p2>

            </div>

        </div>

        <div class="col-md-4">
            <img src="@dir/5.jpg" class="img-responsive" style="width:100%;    height: 337px;" />
        </div>
    </div>



    @*---------------complete------------*@


    <div class="row bg3">
        <div class="col-md-8  " style="background-color:rgb(230,222,209); ">
            <img src="@dir/6.jpg" class="img-responsive" style="width:100%;    height: 374px;" />
        </div>
        <div class="col-md-4 fiviecls" style="    height: 374px;">
            <div class="info" style="width: 100%;    margin-top: 2%;">
                <div class="a">Step</div>
                <div class="b"><span style="border-bottom:1px solid">05</span></div>
                <div class="c">SOLE</div>
                <div class="c step05">AS PER OUR CUSTOMERS’ REQUEST, WE USE FULL GRAINED BUFFALO AND COW LEATHER OR VIBRAM SOLES.</div>
            </div>
        </div>

    
    </div>


    @*-----------complete-----------*@


    <div class="row bg3" style=" background-color: white;">


        <div class="col-md-4">
            <img src="@dir/7.jpg" class="img-responsive" style="width:100%;    height: 366px;" />
        </div>
        <div class="col-md-8 sixcls">
            <div class=" desc">
                @*<p style="color:#000;font-weight:bold;margin-left:2px">STEP</p>*@
                <h1><span style="font-size:55px;font-weight:normal;color:#000">STEP 06</span></h1>
                <p style="color: #000;"><span style=" border-bottom: 1px solid;padding-bottom:11px">LASTING</span></p>
                <p2>
                    OUR WOODEN LASTS ARE EXQUISITELY CRAFTED IN HOUSE, BY HAND, TO CREATE THE PERFECT SHAPE TO THE SHOE. THIS SHAPE OFFERS YOU THE UTMOST COMFORT.  AT THIS STEP, HAND STITCHED LEATHER WELTING IS PROVIDED UPON REQUEST.

                </p2>
            </div>
    </div>

</div>


    </div>


@*----------------complete-------------*@


<div class="row nopadding no-margin">
    <div class="col-md-12 nopadding">
        <img src="@dir/8.jpg" class="img-responsive" style="width:100%" />
    </div>

</div>

@*------------complete---------*@


<div class="row bg3 nopadding no-margin">

    <div class="col-md-4 g">
        <div class="info" style="width: 100%; padding-top: 94px">
            <div class="a">STEP</div>
            <div class="b"><span style="    border-bottom: 1px solid;
    font-size: 62px;    font-weight: 800;">07</span></div>
            <div class="c">CROPPING</div>
        </div>
    </div>
    <div class="col-md-4 nopadding"><img src="@dir/9.jpg" class="img-responsive" style="width:100%;    height: 385px;" /> </div>
    <div class="col-md-4 lstmre" style="background-color:rgb(230,222,209);  height: 385px;">
        <div class="desc" style="padding-top: 62px; background-color: rgb(230,222,209)">
            @*<h3>CRAFTSMANSHIP</h3>*@
            <p >
                SINCE OUR SHOE ARE HAND CRAFTED, IT’S REQUIRED THAT AN EXPERT STAFF MEMBER CROP THE SOLE TO CREATE THE EXACTING FINISH THAT IS EXPECTED BY OUR CUSTOMERS.

            </p>

        </div>

    </div>
</div>




@*-------complete--------------*@

<div class="row bg3 nopadding no-margin">

    <div class="col-md-8 sevencls" style="background-color:rgb(242,238,237); height: 337px;">
        <div class="desc" >
            @*<p style="color:#000;font-weight:bold;margin-left:2px">STEP</p>*@
            @*<p style="margin-top:-20px"><span style="border-bottom:1px solid;fo
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                


































