@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    Html.AddTitleParts("Legacy of men shoes by footprint | My Journey");
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    <link href="@Url.Content("/Themes/FootPrint/Content/css/designer.css")" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">

    <div class="row no-margin" style="padding-top:34px;">
        <div class="col-md-6">

            <div class="hiddensection hidden-md hidden-lg">
                <h1 class="bigheading">MY JOURNEY</h1><br><h2 class="isthevery">IS THE VERY LEGACY OF FOOTPRINT</h2>
                <div class="col-md-12 nopadding-left goals">
                    <img src="~/Themes/FootPrint/Content/myjorney/22.jpg" class="img-responsive">
                    <img src="~/Themes/FootPrint/Content/myjorney/4.jpg" class="img-responsive">
                    <img src="~/Themes/FootPrint/Content/myjorney/3.jpg" class="img-responsive">
                    <img src="~/Themes/FootPrint/Content/myjorney/5.jpg" class="img-responsive">
                </div>
                <div class="col-md-12">   <h2 class="isthevery2">It is about the beauty of the hands working day and night for yours pair of shoe.</h2></div>
            </div>


            <img src="~/Themes/FootPrint/Content/myjorney/1.jpg" class="img-responsive" width="100%">

            <h1 class="headingsdes">
                WHO I AM
            </h1>
            <p class="forptags">
                Needless to say, I am considered as the go-to guy for men leather footwear, due to the knowledge I entail about details and structures – a critical requirement for promising pairs. If you want something unique and
                different you have to create it yourself.
            </p>

            <h1 class="headingsdes">OUR LEGACY</h1>
            <p class="forptags">
                In Pakistan, Shoe craftsmEnship is a heritage but throughout

                the years the companies that produce thousands in a day have glossed it

                over. The need of valuing our craftsmen’s skills and to deliver the best,

                Footprint has broken the ice by interconnecting the craftsmEnship with

                those who value. It is about the beauty of the hands working day and night

                for yours pair of shoe.
            </p>

            <img src="~/Themes/FootPrint/Content/myjorney/2.jpg" class="img-responsive morepics" width="100%">
        </div>

        <div class="col-md-6">
            <div class="hiddensection2  hidden-xs hidden-sm">
                <h1 class="bigheading" style="margin-top:-17px;margin-left:-4px">MY JOURNEY</h1><br><h2 class="isthevery">IS THE VERY LEGACY OF FOOTPRINT</h2>
                <div class="col-md-12 nopadding-left goals">
                    <img src="~/Themes/FootPrint/Content/myjorney/22.jpg" class="img-responsive">
                    <img src="~/Themes/FootPrint/Content/myjorney/4.jpg" class="img-responsive">
                    <img src="~/Themes/FootPrint/Content/myjorney/3.jpg" class="img-responsive">
                    <img src="~/Themes/FootPrint/Content/myjorney/5.jpg" class="img-responsive">
                </div>
                <h2 class="isthevery2">It is about the beauty of the hands working day and night for yours pair of shoe.</h2>
            </div>
            <img src="~/Themes/FootPrint/Content/myjorney/6.jpg" class="img-responsive" width="100%">
            <h1 class="headingsdes">
                HOW I STARTED
            </h1>
            <p class="forptags">
                With my resume dating back to manufacturing and exporting leather shoes, I learnt how to make hand-made leather footwear. Back in 1990s, handmade footwear produced with premium quality leather wasn’t made available easily in Pakistan, I introduced Footprint – a brand promising high quality leather, with its basics being magnificence, authority, resilience, and affordability with concerns to just about any and every occasion.
            </p>

            <h1 class="headingsdes">
                MOTTO & SUCCESS STORY

            </h1>
            <p class="forptags">
                Right after the boom in my business, I bagged a standing that goes up to big fashion guns, tailoring shoes to all horizons, with an exclusive punch of personalization for those who wish to add an extra oomph of individuality into their respective footwear selection. I wanted to be the pioneer in bespoke shoes for men. I’m providing leather footwear to Pakistan’s famous dress designers, corporate figures, diplomats and various foreign brands.
            </p>
            <h1 class="headingsdes">
                WHAT FOOTPRINT IS TO ME
            </h1>
            <p class="forptags">
                IT’S MY PASSION THAT has MADE ME GROW PROFESSIONALLY. FAMILIARITY WITH THE MAKING OF THE CUTTING-EDGE TRENDS AND THE ESSENTIALS OF BESPOKE, FOOTPRINT IS BEST KNOWN FOR BEING A PROTUBERANT FIT FOR A MAN AND THE FOOTWEAR HE ELECTS TO CUSTOMIZE.
            </p>
            <h1 class="headingsdes">
                HOW I GOT HERE
            </h1>
            <p class="forptags">
                THE EXCURSION OF FOOTPRINT DATES BACK TO A DECADE AND A HALF, WITH A PRIMARY PURPOSE IN MIND AND AN AIM TO OWN AN APPROACH CONTAINING PERMANENCE, CONSISTENCY, AND DELUXE FASHION INCLINATIONS
            </p>
        </div>

        <div class="col-lg-12 bottomline" style="padding:31px">
            <p> FOOTPRINT IS FOR YOU-THE MOTIVATED FUTURE OF THE COUNTRY </p>
        </div>
    </div>
</div>
