@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;


<style>
    /*FlexSlider Overrides*/
    .flex-direction-nav .flex-prev {
        left: 0px;
    }

    .flex-direction-nav .flex-next {
        right: 0px;
    }

    .flexslider .slides {
        padding: 30px 0px;
        box-sizing: border-box;
    }

    .flex-control-paging li a {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        width: 15px;
        height: 15px;
    }
</style>
@if (Model.Count > 0)
{
    <div class="flexslider">
        <ul class="slides">
          
            @foreach (var item in Model)
            {
                //string odd_class = "";
                //odd +=1;

                //if(odd % 2 == 1 ){
                //    odd_class = "homepageproduct-focus";

                //}

                <li class="homepageproduct ">
                    <p class="hppimg">
                        <a href="/@item.SeName">
                            <img src="@item.DefaultPictureModel.ImageUrl" class="img-responsive " />
                        </a>
                    </p>
                    <div class="hppdtl">
                        <div><h3>@item.Name</h3></div>
                        <div><h4>@item.ProductPrice.Price </h4></div>
                    </div>
                </li>


            }

            <!-- items mirrored twice, total of 12 -->
        </ul>
    </div>
    <script>



        function loadFlexslider() {
            var isSmartPhones = (document.body.clientWidth < 600);
            var width = isSmartPhones ? 350 : (document.body.clientWidth / 3) - 10;
            var current = 0;
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: true,





                itemWidth: width,
                itemMargin: 0,
                itemPadding: 0,
                maxItem: 3,
                move: 1,
                start: function (slider) {

                    current = isSmartPhones ? slider.currentSlide : slider.currentSlide + 1;
                    slider.slides.eq(current).addClass("hpp-focus");

                },


                after: function (slider) {
                    if (current > 0) {
                        slider.slides.eq(current).removeClass("hpp-focus");
                    }
                    current = isSmartPhones ? slider.currentSlide : slider.currentSlide + 1;
                    slider.slides.eq(current).addClass("hpp-focus");



                    //slider.slides.eq(current + 1).addClass("hpp-focus");
                    //slider.slides.eq(current).removeClass("hpp-focus");

                    //current += 1;

                    // $( slider.slides[slider.currentSlide ]).addClass("homepageproduct-focus");
                    // $(slider.slides[slider.currentSlide ]).removeClass("homepageproduct-focus");
                },

                end: function (slider) {
                    slider.slides.eq(slider.currentSlide).removeClass("hpp-focus");

                }


            });
        }
        $(window).resize(function () {
            loadFlexslider();

        });
        $(window).load(function () {
            loadFlexslider();

        });
    </script>
}
