
@Html.Action("HeaderLinks", "Common")
<nav class="bgGreyDark" style="border-bottom: 2px solid black;">
    <div class="container">
        <ul class="mainNav">
            @Html.Action("TopMenu", "Catalog")
        </ul>
    </div>
</nav>

