
<script>
        $(document).ready(function() {
            $(".BannerBodyText").height($(".imgDiv").height());
            $(window).resize(function(){
                $(".BannerBodyText").height($(".imgDiv").height());
            })

        })
</script>

<div class="banner mehendiCat">
    <div class="leftBanner BannerCol">
        <img src="~/Themes/Element/Content/img/home/Homebanner2pic1.jpg" />
    </div>
    <div class="RightBanner BannerCol">

        <div class="BannerBodyText">
            <div class="BannerBodyTextInner">
                <div>
                    <h2>Mehndi Occassion </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p class="BannerBtn">
                        <span>View More</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="imgDiv">
            <img src="~/Themes/Element/Content/img/home/Homebanner2pic2.jpg" />
        </div>

    </div>
</div>
<div style="display:block;width:100%;">
    <img src="~/Themes/Element/Content/img/home/HomeBanner3.jpg" />
</div>