@{ Layout = "~/Views/Shared/_Root.Head.cshtml";}

<body class="" style="">
        


<div id="fullheight" class="col-md-12  custompadding" style="background: white;">
    
    
    
    <div class="row no-margin">
        <div class="col-md-12" style="text-align: center;">
            <div class="imagestot" style="float: none; width: auto;"><img class="img-responsive" src="/Content/images/loyalilyMobile.jpg" alt=""></div>
        </div>
    </div>

    
    
    
    
    
</div>

        
        
        
    
</body>