@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
    var category = Model.CategoryBreadcrumb.LastOrDefault();
}

@if (category != null)
{
    <a class="btn btn-gray btn-close" href="@Url.RouteUrl("Category", new { SeName = category.SeName })"></a>
}

@if (Model.Enabled)
{ }
