@{ Layout = "~/Views/Shared/_Root.Head.cshtml";}


<div id="fullheight" class="col-md-12  custompadding" style="background: white;">
    <div class="row no-margin">
        <div class="col-md-12">
            <h1 class="TOT" style="text-align: CENTER; font-weight: 900; color: #777;">TOT</h1>
            <p style="font-size: 15px; color: #051c3b; font-weight: bolder; text-align: CENTER;">TOKEN OF THANKS</p>
            <p class="TOTPARA" style="color: #777777; text-align: CENTER; padding: 0px 2%; font-size: 18px;">GoMobiSho LOYALTY PROGRAM IS A WAY TO SAY THANK YOU TO ITS MEMBERS &amp; CUSTOMERS FOR PURCHASING AND</p>
            <p style="margin-top: 10px; margin-bottom: 10px; color: #777; text-align: center;">HELPING SPREAD THE WORD ABOUT US.</p>
            <p style="color: #777; text-align: center;">REWARD POINTS EARNED CAN BE SAVED &amp; REDEEMED IN FUTURE PURCHASES.</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-12" style="text-align: center;">
            <div class="imagestot" style="float: none; width: auto;"><img src="/Themes/FootPrint/Content/images/3tot.jpg" alt=""></div>
        </div>
    </div>
    <div class="row no-margin">&nbsp;</div>
    <div class="row no-margin">
        <div class="col-md-12">
            <h1 class="TOT2" style="text-align: CENTER; font-size: 18px; color: #777777;">HOW POINTS CAN BE REDEEMED ?</h1>
            <p class="TOTPARA" style="color: #777; text-align: center; padding: 0px 2%;">ON CHECKOUT PAGE THERE IS AN OPTION TO REDEEM REWARD POINTS CAN BE CONSUMED AS 1 POINT = RUPEE 1.</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-12">
            <h1 class="TOT2" style="text-align: CENTER; font-size: 18px; color: #777777;">IS THERE ANY MINIMUM OR MAXIMUM LIMIT OF POINT REDEMPTION?</h1>
            <p class="YESIF" style="color: #777; text-align: center; padding: 0px 2%;">YES, MINIMUM 3,000 POINTS CAN BE REDEEMED WHEREAS, NO LIMIT FOR MAXIMUM POINTS REDEMPTION.</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-12">
            <h1 class="TOT2" style="text-align: CENTER; font-size: 18px; color: #777777;">WHAT IS THE VALIDITY PERIOD OF REWARD POINTS?</h1>
            <p class="YESIF" style="color: #777; text-align: center; padding: 0px 2%;">THERE IS NOT EXPIRY PERIOD OF REWARD POINTS. THEY CAN BE REDEEMED ANYTIME,LIFETIME.</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-12">
            <h1 class="TOT2" style="text-align: CENTER; font-size: 18px; color: #777777; padding-left: 17%; padding-right: 17%;">CAN REWARD POINTS BE USED FOR PAYMENT OF PURCHASE AT FOOTPRINT'S IOS &amp; ANDROID MOBILE APPS AND AT GO FASHION HOUSE APPS?</h1>
            <p class="YESIF" style="color: #777; text-align: center; padding: 0px 2%;">YES ELIGIBLE FOR IOS &amp; ANDROID</p>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="boxredeem" style="background-color: #f2eeed; width: 63%; margin: auto;">
                <h1 style="color: #8e8e8e; text-align: center; font-size: 23px; font-weight: 900; padding-top: 4%;">EARNED AND REDEEMABLE VALUE OF REWARD POINTS?</h1>
                <p class="moretext" style="font-size: 21px; color: #8e8e8e; text-align: CENTER;">MINIMUM POINTS TO REDEEM ARE 3,000</p>
                <p class="text-center" style="text-align: center; margin: 0px; font-size: 21px; color: #8e8e8e;"><span class="priceFont" style="text-align: center;">SPENT</span></p>
                <p class="PRICESS" style="font-size: 21px; color: #8e8e8e; text-align: center;">PKR 10,000</p>
                <p class="text-center" style="text-align: center; margin: 0px;"><span class="priceFont" style="text-align: center; font-size: 21px; color: #8e8e8e;">GET REWARD POINTS</span></p>
                <p class="PRICESS" style="font-size: 21px; color: #8e8e8e; text-align: center;">1,000</p>
                <p class="text-center" style="text-align: center; margin: 0px;"><span class="priceFont" style="text-align: center; font-size: 21px; color: #8e8e8e;">REDEEMABLE VALUE</span></p>
                <p class="PRICESS" style="text-align: center; padding-bottom: 4%; font-size: 21px; color: #8e8e8e;">PKR 1,000</p>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="haveany">
                <p style="text-align: center; color: #8e8e8e;">HAVE ANY QUERY ?</p>
                <p style="text-align: center; color: #8e8e8e;">EMAIL US AT info@gomobishop.com</p>
            </div>
        </div>
    </div>
</div>
