@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
   Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
   Html.AppendPageCssClassParts("html-shopping-cart-page");
}


@*@if (Model.OnePageCheckoutEnabled)
    {
        @Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Cart})

}*@








<div class="woocommerce">
    <div class="woocommerce-notices-wrapper"></div><div class="pageCheckout">
        <div class="paddedContainer grid-x">
            <div class="paddedContainer__wrapper small-28 medium-24 xlarge-offset-4 large-28 xlarge-15">
                <div class="paddedContainer__col">


                    @Html.Partial("OrderSummary", Model)





                   
                </div>
            </div>
        </div>
    </div>
</div>