@model int
@using Nop.Core.Infrastructure;
@using Nop.Services.Catalog;
@using Nop.Web.Factories;
@{
    
    var Categories = EngineContext.Current.Resolve<ICategoryService>().GetProductCategoriesByProductId(Model).Select(x => x.CategoryId).ToList();
    var products = EngineContext.Current.Resolve<IProductService>().SearchProducts(categoryIds: Categories);
    var ProductList = EngineContext.Current.Resolve<IProductModelFactory>().PrepareProductOverviewModels(products.Where(i => i.Id != Model), true, true,productThumbPictureSize:360).Take(5).ToList();
    

}

<div id="short-related-products" class="carousel slide hidden-xs product-line" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @{
            bool isFirstItem = true;
        }
        @foreach (var item in ProductList)
        {
            <div class="item @(isFirstItem? "active":"")">
                <a href="/@item.SeName">
                    <div class="prop">
                        
                        <span class="name">@item.Name</span>
                        <span class="price">@item.ProductPrice.Price</span>  
                        
                    
                    </div>
                    <img src="@item.DefaultPictureModel.ImageUrl" class="img-responsive">
                </a>
            </div>
            isFirstItem = false;
        }

    </div>
    <!-- Left and right controls -->
</div>

<div class="controls">
    <a href="#short-related-products" role="button" data-slide="prev" class="custom-img-box-button">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a href="#short-related-products" role="button" data-slide="next" class="custom-img-box-button">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script>
    $('.carousel').carousel({
        interval: false
    });
</script>

