@{
   /* Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.StoreClosed").Text); */
    //page class
    Html.AppendPageCssClassParts("html-store-closed-page");
}

<style>
.store-closed-page{
	width:100%;
	height:100%;
	display:flex;
	align-content:space-around;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}	
</style>


<div class="page store-closed-page">
    <div class="page-title">
        <h1>Comming Soon</h1>
    </div>
    @* @T("StoreClosed") <div class="page-body">
        @T("StoreClosed.Hint")
    </div> *@
</div>
