@model BackInStockSubscribeModel
@using Nop.Web.Models.Catalog;


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "back-in-stock-subscription-form" }))
{
    <div class="text-white">
        <a href="#" class="" data-dismiss="modal" style="float:right;margin-top:-39px"><img src="/themes/FootPrint//content/images/cross1.png" style="float:right;height:25px" /></a>

        @if (!Model.SubscriptionAllowed)
        {
            <p class="uppercase">Subscription is not allowed.</p>
        }
        else if (!Model.IsCurrentCustomerRegistered)
        {
            <p class="uppercase" style="color:black;text-align:center;font-size:12px">Only registered customers can subscribe . Please Log In / Sign Up </p>
        }
        else
        {
            if (!Model.AlreadySubscribed)
            {
                <p class="uppercase" style="color:black;text-align:center;font-size:12px">Subscribe your email address, we'll notify you if this item comes back in stock.</p>
            }
            else
            {
                <p class="uppercase" style="color:black;text-align:center;font-size:12px">Your email address is already subscribed, we'll notify you if this item comes back in stock.</p>
            }
            <div class="text-center" id="buttonbar">
                <input type="button" onclick="javascript: notifyproduct();" id="back-in-stock-notify-me" value="@(Model.AlreadySubscribed ? @T("BackInStockSubscriptions.Unsubscribe").Text : @T("BackInStockSubscriptions.NotifyMe").Text)"
                       class="btn-med " style="max-width:100%;width:100%;background-color:#eee;color:#444" />
            </div>
            <div id="messagebar" class="hide text-center uppercase bold" style="color:black;">
            </div>
            <script type="text/javascript">
                function notifyproduct()
                {
                    $.post('/backinstocksubscribe/@Model.ProductId', function (r) {
                        $("#buttonbar").hide();
                        $("#messagebar").removeClass("hide");
                        console.log(r);
                        $("#messagebar").text(r);
                        setTimeout(function () {
                            $("#backInStockSubscribe").modal("hide");
                        }, 5000)

                    });


                }
                $(document).ready(function () {
                    $("#back-in-stock-notify-me").click(function () {
                    });
                });
            </script>
        }
    </div>
}
