@model FooterModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;
@{
    var cus = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;
}




        <!-- // Row // -->
    </div>

<script type="text/javascript" src="~/Themes/Hashmisanitizer/Content/js/script.js"></script>
