@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    string dir = "/Themes/BootstrapDC/content/bespoke";

}

<style>


</style>
<div class=" bespoke">
    <div class="row ">
        <div class="col-md-12">
            <img src="@dir/1.jpg" class="img-responsive" style="width:100%" />
        </div>

    </div>
    <div class="row bg3">

        <div class="col-md-4 zerocls">
            <div class="info" style="width: 100%;margin-top:17%">
                <div class="a">Step</div>
                <div class="b"><span style="border-bottom:1px solid">01</span></div>
                <div class="c">LEATHER <br /> COLLECTION</div>
            </div>
        </div>

        <div class="col-md-8 firstcls" style="background-color:rgb(230,222,209); ">
            <div class="desc">
                <p><span>SELECTING MATERIAL</span></p>
                <p2>
                    WE UTILIZE PREMIUM QUALITY LEATHER, SO AS TO PROMISE POISE, RELIABILITY, AND DURALIBILTY. OUR LEATHER MAKES UP FOR THE FINEST OF CHOICES, AS WE BELIEVE IN PRODUCING THE BEST OF THE BEST.  

                </p2>

            </div>

        </div>
    </div>
    @*------complete------*@
    <div class="row bg3">



        <div class="col-md-8 secondcls" style="background-color:#fff;   ">
            <div class="desc">
                <p1>STEP 02</p1>
                <p style="color:#111"><span style="border-bottom:1px solid">DESIGN AND PATTERN MAKING</span></p>
                <p2>
                    ONCE OUR PROFESSIONALS HAVE SELECTED THE MATERIAL, OUR DESIGNERS DECIDE WHICH STYLE OF SHOE WILL BEST SUIT WHICH PIECE OF MATERIAL. THE PATTERNS WE WISH TO INCORPORATE ADD TO THE LUXURY AND QUALITY WE SEEK TO PROMISE. OUR DESIGNERS CRAFT PATTERNS AS PER THEIR EXPERTISE, AND CUT THEM OUT TO LAY ON THE MATERIAL.

                </p2>

            </div>

        </div>

        <div class="col-md-4">
            <img src="@dir/2.jpg" class="img-responsive" style="width:100%; height: 337px;;" />
        </div>
    </div>


    @*----------complete-----------*@

    <div class="row bg3">

        <div class="col-md-4 clsz">
            <div class="info" style="width: 100%; padding-top: 94px">
                <div class="a">STEP</div>
                <div class="b"><span style="border-bottom:1px solid">03</span></div>
                <div class="c">CUTTING</div>
            </div>
        </div>
        <div class="col-md-4"><img src="@dir/3.jpg" class="img-responsive" style="width:100%;    height: 383px;" /> </div>
        <div class="col-md-4 thirdcls" style="background-color:rgb(230,231,232);    height: 383px;">
            <div class="desc" style="padding-top: 7px;background-color:#e6e7e8">
                @*<h3>CRAFTSMANSHIP</h3>*@
                <p >
                    ONCE THE CUTTING IS TO BEGIN, THE LEATHER MASTER SELECTS THE PIECE OF MATERIAL HE WISHES TO USE FOR A SPECIFIC PART OF THE SHOE. THEN, USING HIGHLY SPECIALIZED HAND TOOLS, HE CUTS THE LEATHER IN ACCORDANCE TO THE DESIGNER’S PATTERNS.

                </p>

            </div>

        </div>
    </div>


    @*--------complete--------*@


    <div class="row ">
        <div class="col-md-12 nopadding">
            <img src="@dir/4.jpg" class="img-responsive" style="width:100%" />
        </div>

    </div>

    @*--------complete---------*@

    <div class="row bg3">

        <div class="col-md-8 fourcls" style="background-color:rgb(242,238,237);">
            <div class="desc" style="padding-top: 0px; background-color: rgb(242,238,237)">
                @*<p1 style="color:#000;margin-left:2px">STEP</p1>*@
                <p><span>STEP 04</span></p>
                <p4 style="color:#000"><span>UPPER CREATION</span></p4></br>
                <p2>
                    WITH THE ASSISTANCE OF HIGHLY SOPHISTICATED GERMAN STITCHING MACHINES, OUR UPPER MAKERS ADD THEIR HANDCRAFTED MATERIAL TO THE PROCESS. THIS IS DONE, SO AS TO CREATE A REFINED DETAILING TO THE PRODUCTS.

                </p2>

            </div>

        </div>

        <div class="col-md-4">
            <img src="@dir/5.jpg" class="img-responsive" style="width:100%;    height: 337px;" />
        </div>
    </div>



    @*---------------complete------------*@


    <div class="row bg3">
        <div class="col-md-8  " style="background-color:rgb(230,222,209); ">
            <img src="@dir/6.jpg" class="img-responsive" style="width:100%;    height: 374px;" />
        </div>
        <div class="col-md-4 fiviecls">
            <div class="info" style="width: 100%;    margin-top: 2%;">
                <div class="a">Step</div>
                <div class="b"><span style="border-bottom:1px solid">05</span></div>
                <div class="c">SOLE</div>
                <div class="c step05">WE BELIEVE IN ADDING A SPARK OF INDIVIDUALITY TO UR PRODUCTS. THEREFORE, AS PER OUR CUSTOMERS’ REQUESTS, WE USE FULL GRAINED BUFFALO AND COW LEATHER, OR VIBRAM SOLES.</div>
            </div>
        </div>
        @*<div class="col-md-4 zerocls">
            <div class="info" style="width: 100%;margin-top:27%">
                <div class="a">Step</div>
                <div class="b"><span style="border-bottom:1px solid">05</span></div>
                <div class="c">SOLE</div>
                <div class="c">AS PER OUR CUSTOMERS’ REQUEST, WE USE FULL GRAINED BUFFALO AND COW LEATHER OR VIBRAM SOLES.</div>
            </div>
        </div>*@

    </div>


    @*-----------complete-----------*@


    <div class="row bg3" style=" background-color: white;">


        <div class="col-md-4">
            <img src="@dir/7.jpg" class="img-responsive" style="width:100%;    height: 366px;" />
        </div>
        <div class="col-md-8 sixcls">
            <div class=" desc">
                @*<p style="color:#000;font-weight:bold;margin-left:2px">STEP</p>*@
                <h1><span>STEP 06</span></h1>
                <p style="color: #000;"><span style=" border-bottom: 1px solid;">LASTING</span></p>
                <p2>
                    OUR WOODEN LASTS ARE EXQUISITELY CRAFTED IN-HOUSE, AND BY HAND, TO CREATE THE PERFECT SHAPE TO EACH SHOE. AT THIS STEP, HAND STITCHED LEATHER WELTING IS PROVIDED UPON PERSONALIZED REQUEST.

                </p2>
            </div>
    </div>

</div>


    </div>


@*----------------complete-------------*@


<div class="row nopadding no-margin">
    <div class="col-md-12 nopadding">
        <img src="@dir/8.jpg" class="img-responsive" style="width:100%" />
    </div>

</div>

@*------------complete---------*@


<div class="row bg3 nopadding no-margin">

    <div class="col-md-4 g">
        <div class="info" style="width: 100%; padding-top: 94px">
            <div class="a">STEP</div>
            <div class="b"><span style="    border-bottom: 1px solid;
    font-size: 62px;    font-weight: 800;">07</span></div>
            <div class="c">CROPPING</div>
        </div>
    </div>
    <div class="col-md-4 nopadding"><img src="@dir/9.jpg" class="img-responsive" style="width:100%;    height: 385px;" /> </div>
    <div class="col-md-4 lstmre">
        <div class="desc" style="padding-top: 62px; background-color: rgb(230,222,209)">
            @*<h3>CRAFTSMANSHIP</h3>*@
            <p >
                A PROFICIENT TEAM OF SPECIALISTS IS MANDATORY TO MAKE AN AUSPICIOUS HAND CRAFTED PAIR, AND WE UNDERSTAND THAT TOO WELL. SINCE OUR SHOE-MAKING PROCESS NECESSITATES PROFESSIONALIZED KNOWLEDGE, LEARNED STAFF MEMBERS CROP THE SOLES, SO AS TO CREATE THE EXACT FINISH THAT IS EXPECTED BY OUR CUSTOMERS. 

            </p>

        </div>

    </div>
</div>




@*-------complete--------------*@

<div class="row bg3 nopadding no-margin">

    <div class="col-md-8 sevencls" style="background-color:rgb(242,238,237); height: 337px;">
        <div class="desc" >
            @*<p style="color:#000;font-weight:bold;margin-left:2px">STEP</p>*@
            @*<p style="margin-top:-20px"><span style="border-bottom:1px solid;fo
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                













































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































nt-size:63px;font-weight:bold;color:#000">STEP 08</span></p>
                <p style="color:#000">FINISHING</p>*@

            <p1><span>STEP 08</span></p1>
            <p><span style=" border-bottom: 1px solid;">FINISHING</span></p>
            <p3>
                LASTLY, OUR MOST SENIOR PROFESSIONALS APPLY WAXES AND DYES TO FINISH THE SOLE, THIS GIVING THE SHOE THEIR CHARACTERISTIC LONG LASTING NEW LOOK.

            </p3>

        </div>

    </div>

    <div class="col-md-4 nopadding">
        <img src="@dir/10.jpg" class="img-responsive" style="width:100%;    height: 337px;" />
    </div>
</div>

@*---------------COMPLETE----------*@


<div class="row bg2 nopadding no-margin">
    <div class="col-md-12 lastt">
        <div class="desc text-center">
            <p2 class="uppercase">VISIT US FOR CONSULTATION</p2>
            <p class="uppercase" style="padding-top:40px">
                FOOTPRINT ENCOURAGES YOU FOR CONSULTATION. OUR DEDICATED TEAM WILL GUIDE YOU ON THE VARIOUS OPTIONS THAT ARE AVAILABLE. THE TEAM WILL RECORD YOUR GIVEN MEASUREMENT AND STANCES FOR OUR PATTERN-MAKER, SO AS TO ADD YOUR PERSONAL STATEMENTS TO THE PAIR YOU WISH THE WALK YOUR LEGACY IN.
            </p>
            <div style="margin-top:56px"> <a class="btnapp" href="/contactus" style="background-color:rgb(10,39,69)">BOOK AN APPOINMENT</a></div>

        </div>
    </div>
</div>

