@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="container">
    <div class="row">
        <div class="col-md-4" style="padding: 2px;"><a class="thumbnail2" href="/Content/Images/uploaded/images/Amnaismail Festive Lawn Collection 2016.pdf" target="_blank"> <img style="width: 100%; height: 420px;" src="/Content/Images/uploaded/Lookbook/LookBook-03_03.png" alt="Moustiers Sainte Marie" width="1056" height="420" /> </a></div>
        <div class="col-md-4" style="padding: 2px;"><img style="width: 100%; height: 420px;" src="/Content/Images/uploaded/Lookbook/LookBook-03_05.png" alt="Moustiers Sainte Marie" width="1056" height="420" /></div>
        <div class="col-md-4" style="padding: 2px;"><a class="thumbnail2" href="/Content/Images/uploaded/images/Amnaismail Festive Lawn Collection 2016.pdf" target="_blank"> <img style="width: 100%; height: 420px;" src="/Content/Images/uploaded/Lookbook/LookBook-03_07.png" alt="Cinque Terre" width="1056" height="420" /> </a></div>
    </div>
    <div class="row">
        <div class="col-md-4" style="padding: 2px;"><img style="width: 100%; height: 420px;" src="/Content/Images/uploaded/Lookbook/LookBook-03_13.png" alt="Pulpit Rock" width="1056" height="420" /></div>
        <div class="col-md-4" style="padding: 2px;"><a class="thumbnail2" href="/Content/Images/uploaded/images/Amnaismail Festive Lawn Collection 2016.pdf" target="_blank"> <img style="width: 100%; height: 420px;" src="/Content/Images/uploaded/Lookbook/LookBook-03_14.png" alt="Moustiers Sainte Marie" width="1079" height="420" /> </a></div>
        <div class="col-md-4" style="padding: 2px;"> <img style="width: 100%; height: 420px;" src="/Content/Images/uploaded/Lookbook/LookBook-03_05.png" alt="Cinque Terre" width="1056" height="420" /></div>
    </div>
  
</div>
