@{ Layout = "~/Views/Shared/_Root.Head.cshtml";}
<body>
    <div class="page-body">
        <h1 style="width: 100%; color: white; padding-top: 2%; padding-bottom: 2%; text-align: center; background-color: #444;">TERMS&nbsp;OF USE</h1>
        <div style="padding-left: 5%; padding-right: 5%; color: #808080;">
            <p>&nbsp;</p>
            <p style="text-align: justify;"><strong>Scope of License</strong></p>
            <p style="text-align: justify;">This license granted to you for the Licensed Application by the Application Provider, is limited to a non-exclusive, non-transferable, permit to utilize the Licensed Application on any Android™ gadget that you claim or control. This permit does not enable you to utilize the Licensed Application on any Android™ gadget that you don't claim or control. What’s more, you may not circulate or make the Licensed Application accessible over a system where it could be utilized by different gadgets in the meantime. Nothing contained in the Licensed Application ought to be considered as allowing you, by suggestion or something else, any permit or appropriate to utilize any exchange imprints, logos, or different names contained in the Licensed Application. You may not lease, rent, loan, offer, redistribute or sublicense the Licensed Application. You may not duplicate, decompile, figure out, dismantle, endeavor to infer the source code of, alter. or, on the other hand make subsidiary works of the Licensed Application, any updates, or any part thereof (aside from as and just to the degree any previous confinement is restricted by relevant law or to the degree as might be allowed by the permitting terms administering utilization of any publicly released segments included inside the Licensed Application). Any endeavor to do as such is an infringement of the privileges of the Application Provider and its licensors. On the off chance that you rupture this limitation, you might be liable to arraignment and harms. The terms of the permit will oversee any redesigns given by the Application Provider that supplant or potentially supplement the first Licensed Application, unless such overhaul is joined by a different permit in which case the terms of that permit will administer its utilization.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>User Access and Consent to Use of Data</strong></p>
            <p style="text-align: justify;">By downloading and enrolling with the Licensed Application, you speak to that you are not banned by any law, in any locale or bound by any understanding that limits your rights to get to, download and enlist with the Licensed Application and to make Payments through the Licensed Application. Keeping in mind the end goal to enlist with the Licensed Application you should give your portable number. You will guarantee that the portable number furnished for enrollment with the Licensed Application is your own and does not have a place with any outsider and that it is a substantial and existing versatile number. You will exclusively be in charge of all use or action in your record after enlistment with the Licensed Application, including utilization of the record by any outsider approved by you. You concur that you won't utilize the Licensed Application to post obscene substance or substance that might be esteemed hostile, revolting, or shocking, which substance could conceivably be distinguished as having unequivocal dialect or market, or offer business, items or administrations that is unlawful. Any deceitful, oppressive, abuse or generally illicit action might be reason for expulsion of such substance as well as end of your record at the Application Provider's sole circumspection. The Application Provider won't be subject for any misfortunes caused to you, regardless of whether specifically or in a roundabout way for any unapproved utilization of your record or for your disappointment or postponement to insinuate the Application Provider of known or suspected unapproved use(s) of your record, or any known or associated rupture with security. You recognize and concur that upon your enrollment and utilization of the Licensed Application, the Application Provider till gather, utilize, store and file data as per the previously mentioned protection approach.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Eligibility Criteria</strong></p>
            <p style="text-align: justify;">The administrations are not accessible to people less than 18 years old or to anybody already suspended or expelled from the administrations by go. By tolerating these Terms and Conditions or by generally utilizing the Services or the Site, You speak to that You are no less than 18 years old and have not been beforehand suspended or expelled from the Services. You speak to and warrant that you have the right, specialist, and ability to go into this Agreement and to maintain the greater part of the terms and states of this Agreement. You should not imitate any individual or substance, or dishonestly state or generally distort character, age or association with any individual or element.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Bill Payment</strong></p>
            <p style="text-align: justify;">Pretàpak as well as the Pretàpak business accomplice or the biller maintain all authority to charge an administration expense or whatever other extra charge from the User, notwithstanding the expenses for benefiting the Services. Expenses structure can be updated by Pretàpak or Pretàpak business accomplice or the biller. You have to audit the present expenses every once in a while from Pretàpak site/application or the sites of Pretàpak business accomplice or the biller.</p>
            <p style="text-align: justify;"><strong>&nbsp;</strong></p>
            <p style="text-align: justify;"><strong>Pretàpak offers a convenient and secure way to make payments towards Biller(s)</strong></p>
            <p style="text-align: justify;">Give genuine, precise, present and finish data about yourself and your record data. On the off chance that you give any data that is false, off base, not present or fragmented, or Pretàpak has sensible grounds to presume that such data is false, off base, not present or inadequate, Pretàpak has the privilege to suspend or end your record and reject all present or future utilization of the Service (or any segment thereof). The term biller incorporates telecom administrators. Pretàpak accepts no accountability and might cause no obligation in the event that it can't finish the installment on Payment Date attributable to any at least one of the accompanying:</p>
            <ul style="text-align: justify;">
                <li>On the off chance that the Payment Instruction(s) issued by you is/are deficient, incorrect, invalid and deferred.</li>
                <li>On the off chance that the Payment Account has lacking assets/points of confinement to cover for the installment sum.</li>
                <li>On the off chance that your Bank rejects or postpones regarding the Payment Instruction(s)</li>
                <li>On the off chance that installment is not handled by biller upon receipt</li>
                <li>Conditions outside the ability to control of Pretàpak (counting, however not restricted to, flame, surge, cataclysmic events, bank strikes, control disappointment, frameworks disappointment like PC or phone lines breakdown because of an unforeseeable cause or impedance from an outside drive)</li>
                <li>On the off chance that the bill Payment is not affected for any reason, you will be hinted about the fizzled installment by an email or by means of a message on Pretàpak application or SMS</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>RETURN &amp; REFUND POLICY </strong></p>
            <ul style="text-align: justify;">
                <li>If your product is defective / damaged or incorrect / incomplete at the time of delivery, please contact us within the applicable return window. Your product may be eligible for refund or replacement depending on the product category and condition. Please see the detailed terms in the relevant category below.</li>
                <li>Please note that some products are not eligible for a return if the product is "No longer needed".</li>
                <li>For device related issues after usage or the expiration of the return window, we will refer you to the brand warranty center (if applicable).</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Conditions for Returns</strong></p>
            <ul style="text-align: justify;">
                <li>The product must be unused, unworn, unwashed and without any flaws. Fashion products can be tried on to see if they fit and will still be considered unworn.</li>
                <li>The product must include the original tags, user manual, warranty cards, freebies and accessories.`</li>
                <li>The product must be returned in the original and undamaged manufacturer packaging / box. It must be returned in the same condition with return shipping label attached. Do not put tape or stickers on the manufacturers box.</li>
                <li>If a product is returned to us in an inadequate condition, we reserve the right to send it back to you.</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Returns Reasons</strong></p>
            <ul style="text-align: justify;">
                <li>Delivery of a product that is damaged (physically destroyed or broken) / defective (dead on arrival)</li>
                <li>Delivery of a product that is incorrect (presentation different on website) / incomplete (missing parts)</li>
                <li>Delivery of a product that is “No longer needed” (you no longer have a use for the product / you have changed your mind about the purchase / the size of a fashion product does not fit / you do not like the product after opening the package) - eligible for selected products only</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Issuance of Refunds</strong></p>
            <ul style="text-align: justify;">
                <li>If your product is eligible for a refund, you can choose your preferred refund method. The shipping fee is refunded along with the amount paid for your returned product</li>
                <li>The time required to complete a refund depends on the refund method you have selected. Once we have received your product (2-3 working days) and it has undergone a quality control (1-2 working days)</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Refund Conditions &amp; Requirements</strong></p>
            <p style="text-align: justify;"><strong>For Refund Voucher:</strong>&nbsp;Vouchers will be sent to the customer registered email ID on Pretàpak and can be redeemed against the same email ID.</p>
            <p style="text-align: justify;"><strong>For Debit Card or Credit Card:</strong>&nbsp;If the refunded amount is not reflecting in your card statement after the refund is completed and you have received a notification by Pretàpak, please contact your personal bank.</p>
            <p style="text-align: justify;"><strong>For Mobile Account:</strong>&nbsp;If the refunded amount is not reflecting in your Mobile account statement after refund is completed please contact the Mobile account provider on their helpline</p>
            <p style="text-align: justify;"><strong>For Bank Deposit:</strong>&nbsp;The bank account details provided must be correct and the account must be active and hold some balance</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>In using the Bill Payment Service, you agree to:</strong></p>
            <p style="text-align: justify;">Contingent on the Pretàpak business accomplice through whom the Service is benefited by you (i) the particular components of the Service may vary (ii) the quantity of Billers accessible over the Service can contrast (iii) the strategy and time taken for your installment to consider the biller's framework may vary and (iv) the modes/gadgets over which the Service can be gotten to can contrast; and (v) the charges, expenses for profiting the Service or any part of the Service can vary. Particular points of interest identified with these viewpoints would be accessible with the Pretàpak business accomplice or Pretàpak site or channel over which the Service is being benefited.</p>
            <p style="text-align: justify;"><strong>&nbsp;</strong></p>
            <p style="text-align: justify;"><strong>Convenience fee</strong>&nbsp;</p>
            <p style="text-align: justify;">Pretàpak offers an office to Business accomplices on Pretàpak stage to charge an accommodation expense from clients, notwithstanding or over and over the bill sum. Business accomplices have ideal to require any charge on the exchange. Such charges are charged by the business accomplices and is not gathering to any such charge. Pretàpak is not subject for any question inferable from the same.</p>
            <h4>&nbsp;</h4>
            <p style="text-align: justify;"><strong>Applicable Law and Jurisdiction</strong></p>
            <p style="text-align: justify;">These Terms and Conditions shall be interpreted and governed by the laws in force in Pakistan. Each party hereby agrees to submit to the jurisdiction of the Pakistan courts and to waive any objections based upon venue.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="text-align: justify;"><strong>Loyalty points OR Reward points</strong></p>
            <p style="text-align: justify;">Dedication program is a component or office offered by Pretàpak to business accomplices on Pretàpak stage. A business accomplice can profit the administration and offer reward focuses to their clients on Pretàpak in light of the terms or design of the Loyalty program enacted. It helps business accomplices connect with their most profitable clients specifically and boost faithful clients through the program. Business accomplice can set the terms of reward focuses earned on any exchange made by client with the business. For example, if the business accomplice choses to offer 20 focuses on an exchange of significant worth Rs 100, client wins 20 focuses, which can be utilized amid the following qualified exchange. On the off chance that each 10 remunerate point speak to an estimation of Re 1, at that point 20 guides lead toward a rebate of Rs 2. on the following qualified exchange when the reward focuses are utilized.</p>
            <p style="text-align: justify;">&nbsp;</p>
            <h4>&nbsp;</h4>
        </div>
    </div>
</body>
