@model CurrencySelectorModel
@using Nop.Web.Models.Common;
@using Nop.Core;
@using Nop.Core.Infrastructure;
  @{
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
    
        var currencies = Model.AvailableCurrencies.Select(x => new SelectListItem
            {
                Text = x.Name,
                Value = webHelper.ModifyQueryString(Url.RouteUrl("ChangeCurrency", new { customercurrency = x.Id }), "returnurl=" + HttpUtility.UrlEncode(HttpContext.Current.Request.RawUrl), null),
                Selected = x.Id.Equals(Model.CurrentCurrencyId)
            });
    
        
            }
			
 <a href="#" style="padding-left: 0px;">US$ <i class="caret"></i></a>
                        <ul class="languageDropdown clearfix">
                            <li>
                                <ul class="currency">
@if (Model.AvailableCurrencies.Count > 1)
{
	foreach(var item in currencies){
		<li><a href="@item.Value" onchange="setLocation(this.value);">@item.Text</a></li>
	}

                                    
                                   
                              
						
  
	
}
  </ul>
 </li>
  </ul>