@model int
@using Nop.Services.Catalog;
@using Nop.Services.Vendors;
@using Nop.Core.Infrastructure;
@using Nop.Services.Seo;
@using Nop.Services.Media;
@{
    var vendor = EngineContext.Current.Resolve<IVendorService>().GetVendorById(Model);
    var categories = EngineContext.Current.Resolve<ICategoryService>().GetCategoriesByVendorId(vendor.Id,vendor.MapedCatagory);
}

@if (categories.Count > 0)
{
<ul class="menu-vendor">
    @foreach (var item in categories)
    {
       



    <li>
        <a href="javascript:SearchInVendorCategory(@item.Id)" title="@item.Name">
            @item.Name
        </a>
        </li>


        }
</ul>
<script>
        function SearchInVendorCategory(x) {
	    window.location.hash = '/noFilterApplied';
            $(".nopAjaxFilters7Spikes").attr("data-categoryid", x).attr("data-vendorid", 0);
            $(".viewmode-icon.grid").removeClass("selected").click();
        }
    </script>
        }
     